# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Django
*.log
*.pot
db.sqlite3

# Media files (user uploads)
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


PROJECT_CHECKLIST.md
.claudeignore

price_shini_28-01-26.xls
catalog.sql
shop.sql
public_html