{% extends 'base.html' %}

{% block title %}
  Про нас - КМ/Ч 120
{% endblock %}

{% block content %}
  <section class="section content-section">
    <div class="container-narrow">
      <h1 class="section-title-centered">Про нас</h1>
      <div class="content-text">
        <p>Інтернет-магазин «120.com.ua» заснований у 2008 році і на сьогоднішній день займає лідируючі позиції на українському ринку автотоварів. Ми гарантуємо нашим клієнтам насправді вигідні умови: величезний асортимент, високу якість та доступні ціни.</p>

        <p>Ми уважно слідкуємо за оновленнями у каталогах передових світових брендів, тому завдяки старанній роботі наших менеджерів каталог магазину «120.com.ua» постійно доповнюється найновішими позиціями, щоб ви одними з перших мали змогу придбати найсучаснішу модель шин або дисків. Завдяки цьому люди з абсолютно різними потребами та запитами стають нашими постійними клієнтами та друзями.</p>

        <p>Якщо ви бажаєте придбати шини та диски, можете підібрати потрібну модель та розмір, скориставшись спеціальною формою на нашому сайті або подзвонити менеджерам. Вони допоможуть підібрати оптимальний варіант, який задовольнить ваш запит щодо технічних характеристик та бюджету.</p>

        <p>Ваше замовлення якнайшвидше буде відправлено у будь-яку точку України: Дніпро, Суми, Полтаву, Київ, Харків, Одесу та інші міста. Розрахунок здійснюється усіма зручними для вас способами.</p>

        <p>
          Якщо товар, що вас цікавить, тимчасово відсутній на нашому сайті, подзвоніть до нас та зробіть <a href="{% url 'catalog:pre_order' %}">«Попереднє замовлення»</a>.
        </p>

        <p>
          Залишились питання? <a href="{% url 'catalog:contacts' %}">Дзвоніть прямо зараз!</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}
