{% extends 'base.html' %}

{% block title %}
  Контакти - КМ/Ч 120
{% endblock %}

{% block content %}
  <section class="section content-section">
    <div class="container-narrow">
      <h1 class="section-title-centered">Контакти</h1>
      <div class="content-text">
        <p>Отримати будь-яку інформацію, консультацію по підбору ви можете за телефонами:</p>

        <p class="contact-phone">
          <a href="tel:+380963870223">+38 (096) 387-02-23</a><br />
          <a href="tel:+380508572399">+38 (050) 857-23-99</a> (Viber/Telegram)
        </p>

        <h3>E-mail:</h3>
        <p>
          <a href="mailto:info@120.com.ua">info@120.com.ua</a>
        </p>

        <h3>Графік роботи:</h3>
        <p>
          Понеділок - П'ятниця: 9:00 - 18:00<br />
          Субота: 9:00 - 17:00<br />
          Неділя: вихідний
        </p>

        <p>Замовлення на сайті через «Корзину» приймаємо цілодобово.</p>
      </div>
    </div>
  </section>
{% endblock %}
