{% extends 'base.html' %}

{% block title %}
  Оплата та доставка - КМ/Ч 120
{% endblock %}

{% block content %}
  <section class="section content-section">
    <div class="container-narrow">
      <h1 class="section-title-centered">Оплата та доставка</h1>
      <div class="content-text">
        <p>При здійсненні доставки в межах України розрахунок можна здійснити будь-яким зручним для вас способом. Банківські комісії не входять в суму замовлення і оплачуються окремо клієнтом.</p>

        <p>Найчастіше доставка відбувається впродовж 1-3 днів. Це залежить від транспортної компанії. За відхилення у графіках доставки замовлень, спричинених перевізником, інтернет-магазин «120 км/г» відповідальності не несе.</p>

        <p>
          Після отримання ТТН ви можете самостійно відслідковувати статус свого замовлення на сайті <a href="https://novaposhta.ua" target="_blank">Нової Пошти</a> та <a href="https://www.delivery-auto.com" target="_blank">Делівері</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
