{% extends 'base.html' %}

{% block title %}
  Попереднє замовлення - КМ/Ч 120
{% endblock %}

{% block content %}
  <section class="section content-section">
    <div class="container-narrow">
      <h1 class="section-title-centered">Попереднє замовлення</h1>
      <div class="content-text">
        <p>Деякі товари на сайті відмічені як «Попереднє замовлення».</p>

        <p>Скориставшись цим сервісом, ви маєте додаткові переваги, а саме:</p>

        <ol>
          <li>
            <strong>Ексклюзивні моделі.</strong> Обравши модель, яка є рідкісною або недоступною в Україні, ви стаєте власником оригінальної моделі, що підкреслить особливий стиль вашого авто або задовольнить технічні потреби.
          </li>
          <li>
            <strong>Кількість.</strong> Ви матимете змогу замовити кількість, потрібну саме вам, не чекаючи, поки магазин дозволить «розпарувати» потрібну модель до 1 екземпляру. Або, навпаки, придбати декілька комплектів, яких не вистачає в Україні.
          </li>
          <li>
            <strong>Якість.</strong> Усі замовлені моделі імпортуються напряму до магазину з Польщі, Німеччини, Нідерландів та інших країн Євросоюзу, в яких розміщують свої виробництва найкрупніші світові бренди.
          </li>
        </ol>

        <p>Доставка таких позицій можлива впродовж 10-14 днів за умови внесення передоплати.</p>

        <p>
          Для детальнішої інформації <a href="{% url 'catalog:contacts' %}">зателефонуйте до наших менеджерів</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
